#mainContainer {
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: brown;
}

.navbar {
    width: 100%;
    height: 7%;
    display: flex;
}

.navbar p {
    color: white;
    background-color: brown;
    border-width: 2px;
    border-color: goldenrod;
    display: flex;

}

.navbar a {
    color: white;
    border-width: 2px;
    border-color: goldenrod;
}

.theyWannaMakeThisHard {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.mainPage {
    width: 66%;
    padding: 2px;
}

.mainPage h1 {
    text-align: center;
}

.favsSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.favContainer {
    text-align: center;
    width: 27%
}

.map {
    width: 66%;
    height: 60%;
    background-image: url(images/PotholeMap.jpg);
}

#leftFavImage {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url(images/pothole1.jpg);
}

#centerFavImage {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url(images/pothole2.jpg);
}

#rightFavImage {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url(images/pothole3.jpg);
}